h1 {
  margin: auto;
  text-align: center;
  padding: 10px;
}

div {
  text-align: center;
}

.name-container {
  height: 150px;
  width: auto;
  margin: 0px;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gamepad {
  height: 325px;
  width: 325px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  border: 10px solid white;
}

.sign {
  font-size: 32px;
}

.gamebox {
  height: 100px;
  width: 100px;
  background-color: rgba(43, 235, 107, 0.5);
  text-align: center;
  border-radius: 10px;
  font-size: 75px;
}


p {
  text-align: center;
}

.player {
  border: 2px solid black;
  flex-grow: 1;
  margin: 5px;
  border-radius: 10px;
}

#X {
  background-color: indigo;
  color: white;
}

#O {
  color: white;
  background-color: red;
}

.result {
  flex-grow: 3;
  border: 2px solid black;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}