body{
    background-color: rgb(14, 212, 14);
}
.header{
    height: auto;
    padding : 10px;
    text-align: center;
}
.container{
    display:flex;
    margin:auto;
    height: 70vh;
    min-width: 400px;
    max-width: 600px;
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    background-color:rgb(234, 255, 234);
    flex-wrap: wrap;
}

button {
    text-align: center;
    font-size: 32px;
    margin: 2px;
    background-color: cornflowerblue;
    color: black;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    flex-grow: 1;
    justify-content: space-evenly;
    box-sizing: border-box;
}
.operation{
    text-align: center;
    font-size: 32px;
    background-color:blue;
    color:white;
    padding: 10px;
    border: 1px solid darkkhaki;
    border-radius: 5px;
    flex-grow: 1;
    justify-content: space-evenly;
    box-sizing: border-box;
}
.display{
    text-align: center;
    font-size: 32px;
    background-color: white;
    color: black;
    padding: 20px;
    border: 1px solid black;
    border-radius: 2px;
    flex-grow: 1;
    box-sizing: border-box;
}
.break-row{
    flex-basis: 100%;
    height: 0;
}
.break-col{
    flex-basis: 100%;
    width: 0;
}