body {
    background-color: lightsalmon;
}

.header {
    height: auto;
    padding: 10px;
    text-align: center;
    color: black;
}

.container {
    width: 400px;
    margin: auto;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

.display {
    height: 50px;
    width: 395;
    background-color: rgba(40, 163, 245, 0.6);
    text-align: right;
    font-size: 36px;
    border: 2px solid rgba(40, 163, 245, 1);
    margin: 2px;
    border-radius: 10px;
    padding: 5px;
}

.container_inside {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: repeat(5 , 1fr) ;
    height: 350px;
}

button {
    padding: 5px;
    margin: 2px;
    flex-grow: 1;
    text-align: center;
    font-size: 32px;
    /* width: 95px; */
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.operation {
    background-color: rgba(40, 163, 245, 1);
}

#zero{
    grid-column: span 2;
}

#plus{
    grid-row: span 2;
}

#equal{
    grid-row: span 2;
}


/* .break-col {
    flex-basis: 100%;
}

#plus {
    flex-grow: 5;
}

#equal {
    flex-grow: 5;
} */