body {
    background-color: khaki;
    margin: 10px 20px 10px 20px;
}
.heading{
    text-align: center;
    height: 50px;
}
.gamepad{
    height: 500px;
    width: 500px;
    background-color:yellowgreen;
    margin: 80px auto;
    border: 5px solid grey;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}
.squares{
    background-color: honeydew;
    margin: 0 0;
    padding: 0 0;
    float: left;
    box-sizing: border-box;
}
.squares1{
    background-color: black;
    margin: 0 0;
    padding: 0 0;
    float: left;
    box-sizing: border-box;
}